# Dependencies
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js
.next
out
dist

# Production
build

# Misc
.DS_Store
*.pem

# Debug
.vscode
.idea

# Local env files
.env*.local
.env

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# CI/CD
.github

# Testing
coverage
*.test.js
*.spec.js
